.container{
    background-color: lightblue;
    width: 1000px;
    height: 768px;
    position: center;
    padding-top: 60px;
}


.navbar{
    background-color: sienna;
    width: 1000px;
    height: 100px;
}
.navbar-text1{
    text-align: center;
    font-style: italic;
    color: black;
}
.navbar-text2{
    text-align: center;
    font-style: italic;
    font-style: italic;
    color: black;
}
#login-nav input {
    margin-bottom: 15px;
}
.notebook-icon{
    max-width: 40px;
    /* height: 40px; */
    margin: 0;
    display: inline;
}
.navbar-brand{
    max-width: 40px;
    display: inline;
    margin: 0;
    display: inline;
}



/* .vitruvian-man-background{
    background-image: url(/Images/Vitruvian-Man.png);
    background-size: cover;
} */
.intro{
    background-color: saddlebrown;
    text-align: center;
    /* float:left; */
}


/* .fotter{
    position: fixed;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
} */
.footer-copyright{
    background-color: lightblue;
}