* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

#go-home {
    cursor: pointer;
}

.home-page {
    /* padding: 20px;
    margin: 20px; */
    margin: 5px;
    background-color: lightblue;
    font-size: 20px;
    height: 100%;
}

.header-strip {
    padding-bottom: 5px;
    background-color: #B01513;
    height: 130px;
    border: 1px solid black;
}

.search-quote {
    background-color: lightgrey;
    padding: 10px;
    border: 1px solid black;
}

.notebook-icon img {
    /* width: 24px;
    height: 24px; */
    max-width: 50px;
    margin: 0;
    display: inline;
    margin-top: 40px;
}

.login-icon img {
    /* width: 24px;
    height: 24px; */
    max-width: 50px;
    margin: 0;
    display: inline;
    margin-top: 40px;
}

.login-icon {
    cursor: pointer;
}

.vitruvian-man-map {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* searchResults  */

#QuoteText {
    color: white;
    font-size: 25px
}

.login {
    padding: 5px;
    text-align: center;
    /* background-color: green; */
}

.symbol {
    font-size: 25px !important;
    border: solid black;
    border-radius: 30px;
    padding: 10px;
    background-color: aliceblue
}

.borderQuote {
    /* height: 200px; */
    color: white;
    font-size: 30px
    /* padding: 12px; */
}

.previousandnext {
    text-align: center;
}

.myQuote {
    padding: 5px;
    text-align: center;
}

.title-page {
    color: white;
    padding: 5px;
    padding-left: 25px;
}

#find {
    cursor: pointer;
}

#findQuote {
    height: 34px;
    border-radius: 5px;
}

.find-Quote {
    background-color: #de6f6f61;
    padding: 20px;
}

.btnShow {
    margin-top: 30px;
}

.text-center {
    background-color: lightblue
}

.body-quote {
    min-height: 430px;
    max-height: 450px;
}

.btnSave {
    margin-top: 400px;
}


/* end index  meir*/