.home-page {
    /* padding: 20px;
    margin: 20px; */
    margin: 20px;
    background-color: lightblue;

    font-size: 20px;
}




/* searchResults  */

#QuoteText{
    color:white;
    font-size: 25px
}

.login {
    padding: 5px;
    text-align: center;
    /* background-color: green; */
}

.symbol {

    font-size: 25px !important;
    border: solid black;
    border-radius: 30px;
    padding: 10px;
    background-color: aliceblue
}
.borderQuote{

    /* height: 200px; */
    color:white;
    font-size: 30px

    /* padding: 12px; */

}
.previousandnext{
    text-align: center;
}

/* #myImg{
    text-align: center;
    padding-left: 350px
} */

/*index  meir*/
.header-page{
    
    padding: 5px;
    background-color: #B01513;

}
.myQuote {
    padding: 5px;
    text-align: center;
}
.title-page {
    color:white;
    padding: 5px;
    padding-left: 25px;
}
#findQuote{
    height: 34px;
    border-radius: 5px;
}
.find-Quote{
    background-color: #de6f6f61;
    padding: 20px;

}
.btnShow{
    margin-top: 30px;
}
.text-center{
    background-color: lightblue
}
.body-quote{
    min-height: 430px;
    max-height: 450px;
}
.btnSave{
    margin-top: 400px;
}
/* end index  meir*/